services:
  sklep_internetowy.server:
    image: ${DOCKER_REGISTRY-}sklepinternetowyserver
    build:
      context: .
      dockerfile: Sklep_internetowy.Server/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sklep_internetowy_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
